.upload-label {
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: 500;
    color: #444;
}

/* Upload box wrapper */

.upload-button-wrapper {
    width: 100%;
    margin: 6px 0px 0 0;
}

.upload-box {
    width: 100%;
    padding: 14px;
    margin: 0;
    background: #f3f6fa;
    border: 1px dashed var(--ion-color-primary);
    border-radius: 12px;

    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
    transition: 0.2s ease;
}

.upload-box:hover {
    background: #e9f1ff;
    border-color: var(--ion-color-primary-shade);
}

.upload-icon {
    font-size: 24px;
    color: var(--ion-color-primary);
}

.upload-text {
    display: flex;
    flex-direction: column;
}

.upload-text strong {
    font-size: 14px;
    color: #222;
}

.upload-text span {
    font-size: 12px;
    color: #888;
}

.hidden-file-input {
    display: none;
}